<div class="container col-sm-8 offset-2">
  <div class="row shadow" routerLink="/game-detail/{{ g?.Id }}">

   <div class="card " >
     <div class="card-body">
        <img *ngIf="g?.src" class="card-img-top" src={{g?.src}}/>
        <img *ngIf="!g?.src" class="card-img-top" src="assets/image/noimage.jpg"/>
         <p class="card-text"></p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted">Title: {{ g?.Title }}</li>
            <li class="list-group-item text-muted">Genre: {{ g?.Genre }}</li>
            <li class="list-group-item text-muted">Price: {{ g?.Price }}</li>
            <li class="list-group-item text-muted">Age: {{ g?.Age }}</li>
            <li class="list-group-item text-muted">Released: {{ g?.ReleaseDate }}</li>
          </ul>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Like</button>
          <button class="btn btn-success">Message</button>
        </div>
      </div>
   </div>

   <div class=" col-sm-4">
     <div class="tab-panel">
       <tabset class="member-tabset">
         <tab heading ='Overview'>{{ g?.Info}}</tab>
         <tab heading ='Photos'>
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
         </tab>
       </tabset>
     </div>
   </div>








  </div>
</div>

