<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLinkActive="active" routerLink="/">GameOn</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          routerLink="/"
          >Current games</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/upcoming"
          >Upcoming</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/manage"
          >Manage/Add Games</a
        >
      </li>
    </ul>
    <div>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/user/register" routerLinkActive="active" *ngIf="!loggedIn()">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user/login" routerLinkActive="active"*ngIf="!loggedIn()">Login</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/user/login" routerLinkActive="active"*ngIf="loggedIn()" (click)="onLogout()" >Logout</a>
        </li> -->


        <div *ngIf="loggedIn()" class="dropdown mr-5" dropdown>
          <a href="#" class="dropdown-toggle text-light" dropdownToggle (click)="false">
              Welcome {{loggedinUser}}
          </a>
          <div class="dropdown-menu" *dropdownMenu>
              <a class="dropdown-item">
                <i class="fas fa-tachometer-alt" routerLinkActive="active" routerLink="/"></i> View Dashboard</a>
              <a class="dropdown-item">
                <i class="far fa-user-circle"></i> My Profile</a>
              <a class="dropdown-item">
                <i class="fas fa-key"></i> Change Password</a>
              <a (click)='onLogout()' class="dropdown-item">
                <i class="fas fa-sign-out-alt" routerLinkActive="active" routerLink="/"></i> Logout</a>
          </div>
        </div>






























      </ul>
    </div>
  </div>
</nav>
