.form-group.col-sm-6 {

  margin: auto;
}
form{
  margin-top: 10%;


}

#btns{
  text-align: center;
}

.card{
  box-shadow:5px 10px 18px #888888;
  padding-bottom: 5%;
  padding-top: 5%;


}

h3{
  text-align: center;
}

label{
  font-weight: bold;
}
