<div class="card" style="width: 250px">
  <img src="assets/image/mw2.jpg" class="card-img-top" alt="mw2" />
  <div class="card-body">
    <p class="card-text">{{ Game.Info }}</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-muted">Title: {{ Game.Title }}</li>
      <li class="list-group-item text-muted">Genre: {{ Game.Genre }}</li>
      <li class="list-group-item text-muted">Price: {{ Game.Price }}</li>
      <li class="list-group-item text-muted">Age: {{ Game.Age }}</li>
    </ul>
    <div class="card-footer">
      <a
        href="https://www.callofduty.com/uk/en/modernwarfare2"
        class="card-link"
        >More info</a
      >
    </div>
  </div>
</div>

<!-- <div class="card-body">
  <h5 class="card-title">Title: {{Game.Title}}</h5>
  <h6 class="card-subtitle mb-2 text-muted">Genre: {{Game.Genre}}</h6>
  <h6 class="card-subtitle mb-2 text-muted">Price: {{Game.Price}}</h6>
  <h6 class="card-subtitle mb-2 text-muted">Age: {{Game.Age}}</h6>
  <a href="https://www.callofduty.com/uk/en/modernwarfare2" class="card-link">More info</a>
</div> -->
